.fc {
  .background-blocked {
    width: 105%;
    background-size: cover;
    background-image: url('../../images/calendar/slots/blockedSlot.svg');
    border-color: #b6b6b6;
  }
  .short-appointment {
    .fc-event-time {
      display: none;
    }
  }
  .fc-event-main-frame {
    flex-direction: row;
  }
  .font-type {
    font-size: 16px;
    line-height: 1.4;
  }
  .fc-event-main .fc-event-time {
    font-size: 12px;
    line-height: 1;
    padding-bottom: 4px;
  }
  .fc-bg-event.open-slot {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #b6b6b6;
    text-align: center;
    .fc-event-title {
      font-size: 14px;
      color: $secondaryDark;
    }
  }
  .fc-event {
    cursor: pointer;
  }
}
