.background-blocked {
  background-size: cover;
  background-image: url('../../images/calendar/slots/blockedSlot.svg');
}

.fc-timegrid-event-harness {
  font-size: 17px;
  line-height: 14px;
}

.fc-timegrid-bg-harness {
  .open-slot {
    margin-right: 20px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #b6b6b6;
    text-align: center;
    .fc-event-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.slot-border-radius {
  border-radius: 5px;
}
